# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Spyder
.spyderproject
.spyproject

# PyCharm
.idea/

# matplotlib plots
*.png
